*{
  font-family: Helvetica, Arial , sans-serif;
}
body{
  padding: 60px;
}
input{
  color: grey;
  font-size: 1.3rem;
  width: 100%;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}
.card{
    border: 1px solid orange;
    border-radius: 20px;
    margin: 0 7px 7px 0;
    overflow: auto;
    width: 30%;
}
.card img{
  max-height: 180px;
  width: 100%;

}
.card p{
  color: rgba(247, 161, 3, 0.808);
  text-align: center;
  
}
